@font-face{font-family:"TrinityBrandIcons";src:url("TrinityBrandIcons.woff2") format("woff2"),url("TrinityBrandIcons.woff") format("woff"),url("TrinityBrandIcons.ttf") format("truetype");font-weight:normal;font-style:normal;font-display:block;}
.brand,[class^="brand-"],[class*=" brand-"]{font-family:"TrinityBrandIcons";font-style:normal;font-variant-ligatures:discretionary-ligatures;-webkit-font-smoothing:antialiased;line-height:1;}
.brand-batching::before { content: "\e001"; }
.brand-cement::before { content: "\e002"; }
.brand-co2-carbon-emissions::before { content: "\e003"; }
.brand-commercial-building::before { content: "\e004"; }
.brand-concrete-pour::before { content: "\e005"; }
.brand-data::before { content: "\e006"; }
.brand-fuel::before { content: "\e007"; }
.brand-money-bag::before { content: "\e008"; }
.brand-raw-material::before { content: "\e009"; }
.brand-ready-mix-truck::before { content: "\e00a"; }
.brand-security::before { content: "\e00b"; }
.brand-sustainability::before { content: "\e00c"; }
.brand-temperature::before { content: "\e00d"; }
.brand-transit::before { content: "\e00e"; }
.brand-trust::before { content: "\e00f"; }
.brand-water::before { content: "\e010"; }
